:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*TODO section sizes in px*/

body {
  color: white;
  height: 6000px;
  background: linear-gradient(hsl(335, 82%, 39%), #f5a439, #e66465);
}

.section1 {
  height: 100vh;
  width: 100%;
  outline: solid black 1px;
}
.section2 {
  height: 100vh;
  width: 100%;
  outline: solid black 1px;
}

.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  height: 3rem;
  align-items: center;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.nav-left {
  display: flex;
  gap: 3rem;
}

.nav-right {
  display: flex;
}

.header {
  padding-left: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 2rem;
}

.about {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.about-title {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.5rem;
}

.description {
  font-size: 1.5rem;
  line-height: 2rem;
}

.days {
  display: flex;
  gap: 1rem;
}

.paragraph {
  gap: 1.5rem;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-title {
  align-self: center;
  font-size: 2rem;
}

.content {
  font-size: 1.5rem;
  line-height: 1.25em;
  width: 75%;
}
